html, body{
  height:100%;
  margin:0;
}

.game{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  line-height:60px;
}

.button-and-image-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 75px;
}


.rock-button:hover, .paper-button:hover, .scissors-button:hover{
  background-color: white;
  transform:scale(1.2);
}

.scoreboard {
  background-color: rgb(0, 113, 205);
  color: white;
  text-align:center;
}

.score{
  font-size:36px;
  white-space: pre-wrap;
}
